html
  head
    title= headTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style(type="text/css").
      .top-nav { margin: 5px; }
      ul {
        columns: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        list-style: none;
      }
      
      ul li {
        margin: 7px 0;
        
      }
      
      body {
        max-width: 480px;
        margin: 40px auto;
        padding: 10px;
      }
  body
    h1= title
    
    p
      a(class="top-nav" href="/") All
      a(class="top-nav" href="/?type=fruit") Fruit
      a(class="top-nav" href="/?type=vegetables") Vegetables
      a(class="top-nav" href="/?type=meat_and_game") Meat and game
      a(class="top-nav" href="/?type=fish_and_seafood") Fish and seafood
      
    h2= foodType
  
    h3= i18n.inSeasonTitle
    ul
      each food in inSeasonFoods.data
        li
          a(href=food.urls.bbc)= food.name[locale]
      else
        li= i18n.nothingInSeason

    h3= i18n.commingSoonTitle
    ul
      each food in commingSoonFoods.data
        li
          a(href=food.urls.bbc)= food.name[locale]
      else
        li= i18n.nothingCommingSoon
